.blog {
    width: 100%;
}

@media screen and (min-width: 768px) {

    .blog {
        /* width: 50%; */
        width: calc(50% - 0.5rem);
    }
}

@media screen and (min-width: 1024px) {
    
    .blog {
        /* width: 25%; */
        width: calc(25% - 0.75rem);
    }
}