/* Colors: https://www.canva.com/colors/color-palettes/speckled-eggs/ */

:root {
    --light-white: #FDFDFD;
    --light-cyan: #E0FFFF;
    --baby-blue: #BFD7ED;
    --garry-blue: #17B0F5;
    --blue-grotto: #60A3D9;
    --royal-blue: #0074B7;
    --navy-blue: #003b73;
}