.blogs {
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    padding-top: 8rem;
}

@media screen and (min-width: 768px) {
    .blogs {
        padding: 8rem 1rem;
    }
}